<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h1>Select the movies you watched</h1>
        <form method="POST" action="/submitmovies">
            <input type="checkbox" id="movie1" name="movie1" value="Spider Man">
            <label for="movie1">Spider Man</label><br>
            <input type="submit" value="Submit">
        </form>

        <form method="POST" action="/submitmovies"></form>
            <input type="checkbox" id="movie2" name="movie2" value="tick...tick...BOOM">
            <label for="movie2">tick...tick...BOOM</label><br>
            <input type="submit" value="Submit">
        </form>

        <form method="POST" action="/submitmovies">
            <input type="checkbox" id="movie3" name="movie3" value="The Quiet Place">
            <label for="movie3">The Quiet Place</label><br>
            <input type="submit" value="Submit">
        </form>

        <form method="POST" action="/submitmovies">
            <input type="checkbox" id="movie4" name="movie4" value="Shang-Chi">
            <label for="movie4">Shang-Chi</label><br>
            <input type="submit" value="Submit">
        </form>

        <form method="POST" action="/submitmovies">
            <input type="checkbox" id="movie5" name="movie5" value="Coded Bias">
            <label for="movie5">Coded Bias</label><br>
            <input type="submit" value="Submit">
        </form>

        <form method="GET" action="/home">
            <button type="submit" >Back to home</button>
        </form>
    </body>
</html>
