<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Film Junkies</title>
    <style>
        .page{
            display: grid;
            grid-template-columns: 20% 80%;
        }
        .page-child-sidebar{
            background-color: white;
            text-align: center;
            height: 100vh;
	    overflow: auto;
        }
        .page-child-posts{
            background-color: aliceblue;
        }
    </style>
</head>

<body>
    <!--Header-->
    <!--Page-->
    <form method="GET" action="/home">
	<button type="submit">Refresh</button>
    </form>
    <div class="page">
        <!--Right Side Bar-->
        <div class="page-child-sidebar">
        <br>
	<img src="{{ profpic }}" alt="User Image">
	<div><h3>Username:</h3>
	     <h3>{{firstname}}</h3>
	</div>
	<form method="GET" action="/makepost">
	    <button type="submit">Make a post</button>
	</form>
	<form method="GET" action="/choosemovies">
		<button type="submit">Choose Movies you have watched</button>
	</form>

	<form method="GET" action="/likelist">
                <button type="submit">Add movies to your like list</button>
        </form>

	<form method="GET" action="/hatelist">
                <button type="submit">Add movies to your hate list</button>
        </form>

	<h4> Movies you watched</h4>
	{% for w in watchlist %}
	    <div>{{w}}</div>
	{% endfor %}
	<br>
        <div><h3>Like list:</h3></div>
            {% for n in likelist %}
            <div>{{n}}</div>
            {% endfor %}

	<div><h3>Hate list:</h3></div>
            {% for n in hatelist %}
            <div>{{n}}</div>
            {% endfor %}
	</div>
        <!--Posts-->
        <div class="page-child-posts">
            {% for n in posts %}
	    <div>{{n}}</div>
	    <h3 style="font-size:20px;">LIKES: </h3>
	    <div>{{rating}}</div>
	    <form method="POST" action="/rate">
            	<button id="like" type="submit">Like This Post</button>
	    </form>
	    {% for c in comments %}
	    	<div>{{c}}</div>
	    {% endfor %}
            <form method="POST" action="/comment">
                <div class="comment">
                    <input type="text" placeholder="comment" name="comment" required>
                    <button type="submit">comment</button>
                </div>
            </form>
            {% endfor %}
        </div>
    </div>

</body>
</html>
